/****** layout ******/
body {
    background-color: rgb(228, 179, 115);
    text-decoration: burlywood;
}
header{
    text-align: center;
    background-color:#bc5a45;
    padding:15px;
    height:100px;
}
h1 {
    color: darkolivegreen; text-align: center;
    font-family: 'Roboto', sans-serif;
}
header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h2,h3{
    color: #3e4444; text-align: center; font-size: 30px;
}
#ikinci-yazi{font-family: Arial, Helvetica, sans-serif; text-align: center;}
#ücüncü-yazi{
    color: darkslategrey; text-align: center; font-size: 20px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main{ text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; list-style-position:inside;}
#ikinci-header{text-align: center;
               background-color: lightgoldenrodyellow
               ;}
ol{text-align: center; font-family: 'Roboto', sans-serif; border:lightsteelblue solid 10px; padding:100px;
    list-style-position: inside; color: lightgoldenrodyellow; font-size:20px;}
#görsel{position:fixed; top: 250px;  }
#besinci-yazi{ position:fixed; top:250px; left:310px;
border: 3px solid lightgoldenrodyellow; font-family: 'Roboto', sans-serif ;}
    